.titled-pane
{
-fx-skin: none;
-fx-text-fill: -fx-text-base-color;
}
.titled-pane:focused
{
-fx-text-fill: white;
}
.titled-pane > .title
{
-fx-background-color: none;
-fx-background-insets: 0, 1, 2;
-fx-background-radius: none;
-fx-padding: 0;
}

.titled-pane:focused > .title
{
-fx-color: none;
}

.titled-pane > .title > .arrow-button
{
-fx-background-color: null;
-fx-background-radius: 0;
-fx-padding: 0;
}

.titled-pane > .title > .arrow-button .arrow
{
-fx-padding: 0, 0 , 0 ,0;
}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
-fx-rotate: -90;
}

.titled-pane > *.content
{
-fx-background-color: none;
-fx-background-insets: 0;
-fx-padding: 0, 0 , 0 ,0;
 }

.titled-pane:focused > .title > .arrow-button .arrow
{
-fx-background-color: white;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0.5 0 0.5;
}

.button {
        -fx-background-color: #4D90FE;
        -fx-background-insets: 0 0 -1 0, 0, 1, 2;
        -fx-background-radius: 3, 3, 2, 1;
        -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
        -fx-text-fill: #fff;
        -fx-alignment: CENTER;
        -fx-content-display: LEFT;
}
.button:hover {
    -fx-background-color: #428AFF ;
}

#menu:hover {
    -fx-opacity: .6 ;
    -fx-cursor: hand;
}

#menu {
    -fx-opacity: 1 ;
}
